<h2>Productos</h2>



{{!-- {{#each products}} --}}

<ul>
    <label for="">Producto</label>
    <li>this.name</li>
    <label for="">Precio</label>
    <li>this.price</li>


</ul>
{{!-- {{/each}} --}}

<script src="/socket.io/socket.io.js"></script>
<script src="/js/users.js"></script>

