<h1>Bienvenido/a!!</h1>


<form class= "formulario", id="createForm">
        <label class="label" for="">Nombre</label>
        <input class="input" type="text" name="name" id="" placeholder="Ingresa el nombre"> 
        <label class="label"  for="">Correo</label> 
        <input class="input" type="email" name="email" id="" placeholder="Ingresa el email">    
        <label class="label"  for="">Contraseña</label>
        <input class="input" type="password" name="password" id="" placeholder="Ingresa tu contraseña">

    <button class="boton" type="submit"> Crear usuario</button>
</form>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/users.js"></script>


